@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1366px;
  width: 57%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #FBFBFB;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

header .wrapper {
  height:  90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-list {
  padding: 16px 0px 0px 34px;
  color: #2d2d2d;
  font-size: 10px;
  float: right;
  text-transform: uppercase; 
}

.nav-list:hover { color: #8EB537; }

.pull-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9px;
  text-transform: uppercase;
}

.pull-icon { color: #202020; }

.pull-icon::after {
  content: "\f02e";
  padding-left: 8px;
  color: #8EB537;
  font-family: "FontAwesome";
  font-size: 12px;
  text-indent: 0;
}

.pull-btn:hover {
  transition: all 1.3s linear;
  transform: scaleY(3);
}

.input-check { display: none; }

.burger {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 8px;
  cursor: pointer;
  transition: all .5s ease;
}

.burger { display: none; }

.strip a {
  height: 3px;
  border-radius: 2px;
  background: rgb(56 56 56);
  transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 40px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner-section .wrapper { 
  width: 100%; 
  position: relative;
}

.banner-img { 
  width: 100%;
  height: 52vh; 
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.banner-img h2 {
  max-width: 350px;
  padding: 30px;
  position: absolute;
  top: 8%;
  right: 19%;
  color: #fff;
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
}

.text-indent { text-indent: -9999px;} 

.scroll-btn {
  width: 88%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%,-50%);
}

.prev-btn::before {
  content: "\f053";
  width: 37px;
  height: 37px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  font-family: "FontAwesome";
  font-size: 18px;
  float: right;
  text-indent: 0;
}

.next-btn::before {
  content: "\f054 ";
  width: 37px;
  height: 37px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  font-family: "FontAwesome";
  font-size: 20px;
  float: right;
  text-indent: 0;
}

.welcome, .portfolio, .advertisers {
  background-color: #F9F9F9;
}

.welcome-heading {
  border-bottom: 2px dashed #E8e8e8;
  padding: 25px 0px;
  font-size: 26px;
  text-align: center;
}

.welcome-heading span, .forground-color {
  color: #8EB537; 
}

.services {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.icon {
  width: 145px;
  height: 145px;
  border: 1px solid rgb(208, 207, 207);
  border-radius: 50%;
}

.support, .availability, .design, .development {
  width: 115px;
  height: 115px;
  border: 15px solid #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #8EB540;
}

.support::before {
  content: "\f1b8";
  color: #fff;
  font-family: "FontAwesome";
  font-size: 60px;
  float: right;
  text-indent: 0;
}

.availability::before {
  content: "\f095";
  color: #fff;
  font-family: "FontAwesome";
  font-size: 60px;
  float: right;
  text-indent: 0;
}

.design::before {
  content: "\f013";
  color: #fff;
  font-family: "FontAwesome";
  font-size: 60px;
  float: right;
  text-indent: 0;
}

.development::before {
  content: "\f10b";
  color: #fff;
  font-family: "FontAwesome";
  font-size: 60px;
  float: right;
  text-indent: 0;
}


.block h3 {
  padding-top: 10px;
  color: #3D3D3D;
  font-size: 24px;
  text-transform: uppercase;
}

.block p {
  font-size: 14px;
  text-transform: capitalize;
}

.portfolio { padding: 15px 0px; }

.portfolio-heading, .advertisers-heading {
  padding-left: 20px;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.portfolio-heading::before, .advertisers-heading::before {
  content:"";
  width: 100%;
  margin: 0 auto;
  border-top: 2px dashed #E8e8e8;
  position: absolute; 
  z-index: -1;
  top: 50%; 
  right: 0; 
  bottom: 0;
  left: 0;  
}

.bg-color { 
  padding: 0px 5px;
  background-color: #F9F9F9; 
}

.portfolio-cards {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1%;
  gap: 22px;
}


.card {
  display: flex;
  flex: 1 1 45%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
}

.card-details { 
  padding: 12px 16px 12px 16px; 
  flex-basis: 47%;
}

.card figure { 
  position: relative; 
  flex-basis: 53%;
}

.card figure img { 
  height: 100%; 
  object-fit: cover;
}

.hover-icon {
  position: absolute;
  top: 50%;
  left: 35%;
  display: none;
  transform: translate(0, -50%);
}

.search-icon::before{
content: "\f002";
width: 35px;
height: 35px;
border: 5px solid #868785;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: #4498CA;
color: #fff;
font-family: "FontAwesome";
float: right;
text-indent: 0;
}

.card:hover figure img {
  opacity: 80%;
  transition: all 0.3s linear;
}

.card:hover .hover-icon {
  display: block;
  transition: all 0.5s linear;
}

.card-details h3 {
  padding-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.card-details a {
  padding: 3px 10px;
  background-color: #8EB540;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
}

.card-details a:hover {
  color: #8EB537;
  background-color: transparent;
}

.card-details p {
  padding-top: 8px;
  font-size: 10px;
  line-height: 1.3;
}

.advertisers-logo {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-btn { padding-bottom: 40px; }

.back-to-top {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #8EB537;
  float: right;
}

.back-to-top::before {
  content: "\f106";
  color: #FFF;
  font-family: "FontAwesome";
  font-size: 24px;
  float: right;
  text-indent: 0;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-details {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 10px;
  line-height: 1.4;
}

.footer-details > li { flex-basis: 25%; }

.footer-heading {
  padding: 20px 0px 15px 0px ;
  font-size: 14px;
  text-transform: uppercase;
}

.follow { padding: 15px 0px 10px 0px; }

.facebook::before {
  content: "\f09a";
  padding-right: 10px;
  color: #DBDBDB;
  font-family: "FontAwesome";
  font-size: 18px;
  float: right;
  text-indent: 0;
}

.facebook:hover::before {
  color: #1877f2;
  transition: all 0.3S linear;
  transform: scale(1.5);
}

.twitter::before {
  content: "\f099";
  padding-right: 10px;
  color: #DBDBDB;
  font-family: "FontAwesome";
  font-size: 18px;
  float: right;
  text-indent: 0;
}

.twitter:hover::before {
  color: #1da1f2;
  transition: all 0.3S linear;
  transform: scale(1.5);
}

.feed::before {
  content: "\f09e";
  padding-right: 10px;
  color: #DBDBDB;
  font-family: "FontAwesome";
  font-size: 18px;
  float: right;
  text-indent: 0;
}

.feed:hover::before {
  color: #ff9900;
  transition: all 0.3S linear;
  transform: scale(1.5);
}

.vimo::before {
  content: "\f27d";
  padding-right: 10px;
  color: #DBDBDB;
  font-family: "FontAwesome";
  font-size: 18px;
  float: right;
  text-indent: 0;
}

.vimo:hover::before {
  color: #1ab7ea;
  transition: all 0.3S linear;
  transform: scale(1.5);
}

.dribble::before {
  content: "\f17d";
  padding-right: 10px;
  color: #DBDBDB;
  font-family: "FontAwesome";
  font-size: 18px;
  float: right;
  text-indent: 0;
}

.dribble:hover::before {
  color: #ea4c89;
  transition: all 0.3S linear;
  transform: scale(1.5);
}

.linkedin::before {
  content: "\f0e1";
  padding-right: 10px;
  color: #DBDBDB;
  font-family: "FontAwesome";
  font-size: 18px;
  float: right;
  text-indent: 0;
}

.linkedin:hover::before {
  color: #0a66c2;
  transition: all 0.3S linear;
  transform: scale(1.5);
}

.archives {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
}

.archive-lists {
  padding: 10px 0px;
  border-bottom: 1px dashed #c4c4c4;
}

.archive-lists a { color: #202020;}
.border-none { border: none; }

.contact {
  display: flex;
  flex-direction: column;
}

.contact li a {
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  color: #202020;
}

.email::before {
  content: "\f003";
  padding-right: 10px;
  color: #bababa;
  font-family: "FontAwesome";
  font-size: 20px;
}

.phone::before {
  content: "\f095";
  padding-right: 10px;
  color: #bababa;
  font-family: "FontAwesome";
  font-size: 24px;
}

.mobile::before {
  content: "\f10b";
  padding-right: 15px;
  color: #bababa;
  font-family: "FontAwesome";
  font-size: 28px;
}

.form-input {
  padding: 10px 0px 10px 10px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #bababa;
  background-color: #FAFAFA;
  float: right;
}

.form-input::placeholder {
  font-size: 10px;
  color: #202020;
}

.subscribe-btn {
  padding: 8px 12px;
  margin-top: 10px;
  border: 1px solid #8EB540;
  background-color: #8EB540;
  color: #fff;
  font-size: 10px;
  float: right; 
  text-transform: uppercase;
}

.subscribe-btn:hover {
  border: 1px solid #8EB540;
  background-color: transparent;
  color: #8EB537;
}

.footer-menu {
  width: 100%;
  background-color: #202020;
}

.footer-menu .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 10px;
}

.menu li a {
  padding: 10px 5px 10px 0px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

@media only screen and ( min-width:769px ) and ( max-width: 1280px ) { 

.wrapper { width: 85%; }

}  

@media only screen and ( min-width: 481px ) and  ( max-width: 768px ) { 

  .banner-img h2 {
    top: 50%;
    transform: translate(0,-50%);
  }

  .services { padding-top: 10px; }

  .block {
    padding-top: 20px;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
  }

  .card { flex-direction: column; }
  .footer-details li { flex-basis: 40%; }

  .footer-details {
    flex-wrap: wrap;
    gap: 0;
  }
  
  .form-input, .subscribe-btn {
    float: none; 
  }

}  

@media only screen and ( min-width: 320px ) and ( max-width: 480px) {

  .banner-img h2 {
    top: 50%;
    font-size: 18px;
    transform: translate(12%,-50%);
  }

  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .block { padding-top: 20px; }
  .advertisers-logo { flex-wrap: wrap; }
  .advertisers-logo li { flex-basis: 50%; }

  .portfolio-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-details {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
  }

  .form-input, .subscribe-btn {
    float: none; 
  }

  .footer-menu .wrapper {
    display: block;
    text-align: center;
  }

}

@media only screen and ( min-width: 320px ) and ( max-width: 768px ) {

  .wrapper {
    width: 80%;
  }

  header .wrapper {
    display: block;
    width: 100%;
  }

  .logo { padding: 20px; }

  .navbar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 14%;
    background-color: #bababa;
    transition: all 0.5s linear;
    transform: translateX(-100%);
  }

  .nav-list { padding: 20px; }
  .navbar li:nth-child(1) { margin-top: 8%; }
  .pull-btn { display: none; }
  .burger { display: block; }
  #toggle:checked ~ nav .navbar { transform: translateX(0%); }
  #toggle:checked ~ label .burger .burger-strip a:first-child { transform: translateY(18px) rotate(45deg); }
  #toggle:checked ~ label .burger .burger-strip a:nth-child(2) { opacity: 0; }
  #toggle:checked ~ label .burger .burger-strip a:last-child { transform: translateY(-18px) rotate(-45deg); }

}